@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
.main {
  background-image: url(assets/images/background.jpg);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}
.main .box {
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100%;
  /* opacity: 0.6; */
  background-color: rgba(0, 0, 0, 0.6);
}
nav {
  padding: 20px;
  max-width: 75vw;
  margin: auto;
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
}
nav img {
  width: 160px;
  position: relative;
  z-index: 10;
}
nav .option {
  background-color: rgb(0, 0, 0,0.7);
  color: white;
  position: relative;
  z-index: 10;
  border: 1px solid white;
  border-radius: 2px;
  padding: 6px;
  text-align: center;
  gap: 10px;
  width: 150px;
}
nav .button2 {
  padding: 6px;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 600;
  position: relative;
  z-index: 10;
  width: 90px;
  background-color: red;
}
.box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Martel Sans", sans-serif;

}
.s1{
    font-size: 48px;
    font-weight: 1000;
}
.signup{
    width: 170px;
    padding: 10px;
    background-color: red;
    /* position: relative; */
    /* gap: 10px; */
    margin-top: 10px;
    /* z-index: 10; */
    border: none;
    border-radius:5px;
    opacity: 1;
    color: white;
    font-weight: 600;
}
.box:nth-child(2){
  font-weight: 900;
}
.signup{
  width: 200px;
  padding: 20px;
  font-size: 21px;
}
.curve-line {
  width: 100%;
  height: 6px;
  background: linear-gradient(
    90deg,
    #ff004f,
    #e50914,
    #b20710
  );
  border-radius: 50% 50% 0 0;
  box-shadow: 0 0 15px rgba(229, 9, 20, 0.6);
}
.movies{
  height: 250px;
  width: 170px;
  border: 2px solid white;
  border-radius: 9px;
  min-width: 180px;      /* key for horizontal scroll */
  height: 260px;
  background: #222;
  border-radius: 12px;
  flex-shrink: 0;
}
.cards{
  flex-shrink: calc(1.2);
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 16px;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
}
.cards::-webkit-scrollbar {
  height: 8px;
}
.cards::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}